@import url(../index.css);
.header {
    width: calc(100% - 66px);
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    padding:10px 16px;
}

.header__title {
    font-size: 14px;
    font-weight: 700;
    font-family: Roboto Bold Font;
}

.header__page {
    display: flex;
    align-items: center;
}