.main {
    padding: 14px 20px;
    width: calc(100% - 66px);
    height: calc(100% - 44px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    overflow-y: hidden;
  }