.button {  
border-radius: 3px;
 height: 36px;
overflow: hidden;
margin-right: 10px;
}

.button:hover {
    cursor: pointer;
}
.button__addProperty {
    background-color: #1aa4c8;
    color: #fff;
    border: 1px solid #1aa4c8;
    display: flex;
    align-items: center;
}

.button__addProperty:hover {
    cursor: pointer;
    background-color: #28b7dc;
}

.button__import {
    border: 1px solid #fff;
     background-color: #ffffff;
    
}

.button__deleteProperty {
    border: none;
    background-color: #ffffff;
}