/* table {
  background-color: #ffffff;
  border-radius: 3.5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  border-collapse: collapse;
  min-width: 100%;
  border: 1px solid #afafaf;
  overflow: hidden;
}

.row__head {
  height: 38px;
  background-color: #f5f5f5;
}

.row__head:hover {
    cursor: pointer;
}

.row__head th {
  text-align: left;
  font-size: 13px;
  font-weight: 700;
}

.row__body {
  height: 40px;
  background-color: #fff;
}

.row__body:hover {
    cursor: pointer;
    background-color: rgba(26, 164, 200, .2);
}

.checkbox {
  padding-left: 16px;
  padding-right: 20px;
}
.checkbox__ip {
  color: #090f39;
  width: 14px;
  height: 14px;
  border: 1px solid black;
}

::-webkit-scrollbar {
  width: 10px;
}

.row__head th {
  padding: 0 10px;
}

.row__body td {
  padding: 0 10px;
}

#amount {
  text-align: right;
}

.icon__show {
  display: flex;
  align-items: center;
}

.icon__edit {
  background: url("../../assets/UI/icon/qlts-icon.svg") no-repeat -156px -68px;
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

.icon__delete {
  background: url("../../assets/UI/icon/qlts-icon.svg") no-repeat -244px -112px;
  width: 16px;
  height: 16px;
  margin: 0 5px;
} */
.page {
  width: 100%;
  height: 100%;
}

.main__table {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 46px);
}

.table__container {
  flex: 1;
  margin-top: 12px;
  overflow-y: auto;
}

.table__paging {
  height: 56px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #E0E1E4;
}

tr {
  border-bottom: 1px solid #E0E1E4;
  height: 40px;
}

td, th {
  padding: 0 16px;
}

th{
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
}

td {
  background-color: #fff;
}

.paging__left {
  display: flex;
  align-items: center;
}

.paging__left div {
  margin-right: 27px;
}

.amount__input {
  background-color: #ffffff;
  border-radius: 2.625px;
  border: 1px solid #afafaf;
  width: 59px;
  height: 25px;
  overflow: hidden;
  
}

.paging__right{
  display: flex;
  align-items: center;
}

.paging__right div {
  margin-right: 50px;
}